*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 18px;
}

body{
    max-width: 100vw;
    height: 100vh;
    background-color: #a2b9bc;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper
{
    width: 40vw;
    height: 40vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;


    & header {
        position: absolute;
        background-color: #d1cfd6;
        width: 100%;
        padding: 1rem;
        top: -3.9rem;
        text-align: center;
    }


    & .box{
        width: calc(40vw / 3);
        height: calc(40vw / 3);
        border: 1px solid #efefef;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(2rem, 5vw, 4rem);
    }
}